body {
  background-image: url("CSS Tutorial Media/Koala\ Background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0px;
}

h1 {
  background: linear-gradient(to right, skyblue, white);
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "press Start 2p", "consolas", sans-serif;

  border-top-style: dotted;
  border-bottom-style: dotted;
  border-left-style: double;
  border-left-width: 10px;
  border-left-color: silver;
}

.odd {
  color: red;
}

.even {
  background: linear-gradient(to left, skyblue, white);
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: blue;
  font-family: "consolas", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;

  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: black;

  border-style: outset;
  border-width: 5px;
  border-color: gold;
  border-radius: 10px;
  padding: 5px;
}

#box1 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background: greenyellow;
  /*
    margin: 50px;
    */

  margin-right: auto;
  margin-left: auto;
}

#box2 {
  border: 5px solid;
  width: 250px;
  height: 250px;
  font-size: 22px;
  background: dodgerblue;
}

img {
  float: right;
}

.box {
  width: 100px;
  height: 100px;
  border: 1px solid;
  font-size: 40px;
  text-align: cetner;
  background: tomato;

  float: right;
  /* 
    -- float = positions an element to the left or right of a container. 

    examaple: popular wrapping elements aroung images. 
    */
}

.float-tutorial {
  clear: both;
}

#cuboid1 {
  width: 300px;
  height: 300px;
  border: 1px solid;
  background: skyblue;

  position: sticky;

  top: 0px;
  bottom: 0px;
}

#cuboid2 {
  width: 100px;
  height: 100px;
  border: 1px solid;
  background: tomato;

  position: absolute;

  top: 100px;
  left: 100px;
}

#hyperlink {
  width: 100px;
  height: 100px;
  font-size: 30px;
}

a:link {
  color: lawngreen;
}

a:visited {
  color: grey;
}

a:hover {
  color: tomato;
}

a:active {
  color: yellow;
}

button {
  width: 200px;
  height: 100px;
  font-size: 30px;
  font-family: sans-serif;
}

button:hover {
  background-color: lightgrey;
}

button:active {
  background-color: tomato;
}

ul {
  width: 200px;
  height: 100px;
  font-size: 20px;
  font-family: sans-serif;
}

/*
li:nth-child(5) {
    background-color: yellow;
}


li:nth-child(even) {
    background-color: skyblue;
}

li:nth-child(odd) {
    background-color: powderblue;
}
*/

li:nth-child(5n + 3) {
  background-color: yellowgreen;
}

h2 {
  padding-top: 150px;
  font-size: 50px;
  text-shadow: 0px 0px 5px yellow, 0px -2.5px 0px yellow, 0px -5px 0px orange,
    0px -7.5px 0px orangered, 0px -10px 0px red;
}

h2:hover {
  box-shadow: 0px 0px 5px yellow, 0px -2.5px 0px yellow, 0px -5px 0px orange,
    0px -7.5px 0px orangered, 0px -10px 0px red;
}

.fa-pepper-hot {
  font-size: 100px;
  color: orangered;
}

.fa-lemon {
  font-size: 100px;
  color: yellowgreen;
}

.fa-fish-fins {
  font-size: 100px;
  color: dodgerblue;
}

#square1 {
  border: 4px solid;
  width: 275px;
  height: 200px;
  font-size: 200px;
  text-align: center;
  font-family: sans-serif;
  background-color: tomato;

  transform: translateX(50px);
  transform: translateY(50px);
  transform: translate(50px, 50px);
  transform: rotateX(180deg);
  transform: rotateY(180deg);
  transform: rotateZ(180deg);
  transform: scaleX(3);
  transform: scaleY(3);
  transform: scale(2, 2);
  transform: skewX(45deg);
  transform: skewY(45deg);
  transform: skew(25deg, 25deg);

  transform: matrix(2, 0.5, 0.5, 2, 150, 150);
  /*
        matrix combines the following:

        scaleX(),
        skewY(),
        skewX(),
        scaleY(),
        translateX(),
        translateY()
    */
}

#parallelogram {
  margin-top: 400px;
  border: 4px solid;
  width: 325px;
  height: 250;
  font-size: 200px;
  text-align: center;
  font-family: sans-serif;
  background-color: red;

  /*
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation: mySlide;
  */
  animation: 3s linear 0s infinite running myColorChange;
}

#parallelogram:hover {
  animation: 3s linear 0s infinite running myXRotation;
}

#parallelogram:active {
  animation: 3s linear 0s infinite running myYRotation;
}

@keyframes mySlide {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

@keyframes myXRotation {
  100% {
    transform: rotateX(360deg);
  }
}

@keyframes myYRotation {
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes myZRotation {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes myOpacity {
  50% {
    opacity: 0;
  }
}

@keyframes myScale {
  50% {
    transform: scale(0.5, 0.5);
  }
}

@keyframes myColorChange {
  0% {
    background-color: red;
  }
  20% {
    background-color: orange;
  }
  40% {
    background-color: yellow;
  }
  60% {
    background-color: orangered;
  }
  80% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}
