.calendar {
  margin: 20px;
}

.calendar-container {
  text-align: center;
}

.fc-dayGridMonth-view {
  max-height: 57.5vh;
}

#calendar-title {
  font-family: sans-serif, "Roboto";
  font-size: 48px;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: underline;
}
